<h1>Stupid Coaching</h1>

<div class="question">
  <p>Your question : </p>
  <i><%= params[:question] %></i>
</div>
<div class="answer">
<p>The stupid coach answer : </p>
<i><%= @coach_answer %></i>
</div>
<br>
<%= link_to "Ask a new question", "/ask" %>
